*{
    box-sizing: border-box;
    font-family: "Roboto",sans-serif;
    margin: 0;
    padding: 0;
}
:root  {
    --main-color:#088178;
    --text-color:#333333;
    --bg-color:#e8e8e8;
}
html{
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
}
.container{
    margin-left:auto;
    margin-right:auto;
    padding-left:auto;
    padding-right:auto;
}
@media(min-width:768px){
    .container{
        width:750px;
    }
}
@media(min-width:992px){
    .container{
        width:970px;
    }
}
@media(min-width:1200px){
    .container{
        width:90%;
    }
}
.header{
    margin-top:20px ;
}
.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: darkgray;
    border-radius:15px;
}
.header .container .logo{
    font-size: 35px;
    color: var(--text-color);
}
.header .container .logo span{
    color: var(--main-color);
}
.header .container ul{
    display: flex;
    list-style: none;
}
.header .container ul li{
    padding :0 20px;
}
.header .container ul li a{
    color:var(--text-color);
    font-size: 20px;
}
.header .container ul li a:hover{
    color: var(--main-color);
}
.landing{
}
.landing .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: calc(100vh - 100px);
}
.landing .container .text{
    width: 60%;
}
.landing .container .text .first{
    color: var(--text-color);
    font-size: 15px;
}
.landing .container .text h1{
    color: var(--main-color);
    letter-spacing: 6px;
    margin-bottom: 10px;
}
.landing .container .text a{    
    color: var(--bg-color);
    background-color: var(--main-color);
    padding: 16px 15px;
    margin-top: 15px;
    display: block;
    width: fit-content;
    border-radius: 15px;
}
.landing .container .text .two{
    color: var(--text-color);
    margin-bottom: 14px;
    font-weight: bold;
}
.landing .container img {
    width: 40%;
}
.main-text{
    position: relative;
    margin: 0 auto;
    width: fit-content;
    font-size: 40px;
    font-weight: bolder;
    padding: 15px;
    color: var(--main-color);
    margin-bottom: 30px;
}
.main-text::after{
    content: "";
    position:absolute;
    background-color: var(--text-color);
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
}
.pro_landing{
    background-color: #eee;
}
.pro_landing .container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 50px;
    padding-bottom: 50px;
    gap: 15px;
}
.pro_landing .cart{
    position: relative;
    width: 20%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid var(--text-color);
    border-radius: 15px;
}
.pro_landing .cart img{
    width: 100%;
    max-height: 300px;
}
.pro_landing .cart .des{
    text-align: start;
}
.pro_landing .cart .des span{
    padding-top: 10px;
    font-size: 15px;
}
.pro_landing .cart .des h4{
    padding-top: 5px;
    padding-bottom: 5px;
}
.pro_landing .cart .des .rate i{
    padding-bottom: 5px;
    color: gold;
    font-size: 20px;
}

.pro_landing .cart .des .rate h3{
    color: var(--main-color);
    font-weight: bold;
    padding-bottom: 5px;
}
.pro_landing .cart a i{
    position: absolute;
    right: 10px;
    bottom: 10px;
    color: white;
    background-color: var(--main-color);
    padding: 10px;
    border-radius: 10px;
}
.footer{
    padding-top:10px;
    padding-bottom: 35px;
}
.footer .container{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.footer .container ::after{
    content: "";
    position:absolute;
    background-color: var(--text-color);
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
}
.footer .container .logo{
    color: black;
    font-size: 35px;
}
.footer .container .logo span{
    color: var(--main-color);
}
.footer .container ul{
    display: flex;
    list-style: none;
    gap: 20px;
}
.footer .container ul li a{
    color: var(--text-color);
    font-size: 18px;
}
.footer .container ul li a:hover{
    color: var(--main-color);
}
.footer .container .social a i{
    color: white;
    background-color: var(--main-color);
    padding: 15px;
    border-radius: 15px;
    font-size: 18px;
}
.copy{
    padding-top: 20px;
    text-align: center;
    font-weight: bold;
}
.copy span{
    color: var(--main-color);

    
}